Name  : Arivazhagan.B

Topic : Numpy Excercises 

Email : barivazhagan8@gmail.com

## Numpy - Numerical Python

* It is general purpose array processing package.

* It provides multidimensional array objects and tools for workingwith these array.

* Inventor of numpy Travis Oliphant-2005

Creating Numpy array From a Python List

In [4]:
L=[1,2,3,4,5]
print(L)
print(type(L))

[1, 2, 3, 4, 5]
<class 'list'>

** Convert List into One dimentional array using numpy **

In [8]:
import numpy as np
ar=np.array(L)
print('Array is:',ar)
print("*"*35)
print(type(ar))
print('*'*35)
print(ar.dtype)

Array is: [1 2 3 4 5]
***********************************
<class 'numpy.ndarray'>
***********************************
int32

In [27]:
ar1=np.array([10,11,12,13,14,15])
print('Array is:',ar1)
print('*'*35)
print('Length of array is:',len(ar1))
print('*'*35)
print('Data type:',ar1.dtype)
print('*'*35)
print('type of array:',type(ar1))

Array is: [10 11 12 13 14 15]
***********************************
Length of array is: 6
***********************************
Data type: int32
***********************************
type of array: <class 'numpy.ndarray'>

In [25]:
ar2=np.array([1,7,8+2j,9,10])
print('Array is :',ar2)
print('')
print('*'*30)
print("Data type:",ar2.dtype)

Array is : [ 1.+0.j  7.+0.j  8.+2.j  9.+0.j 10.+0.j]

******************************
Data type: complex128

ndim-Number of dimention of array

In [29]:
print('No of dimention:',ar2.ndim)
print('*'*35)
print('Shape of the  array is:',ar2.shape)
print('*'*35)
print('size of the array is:',ar2.size)

No of dimention: 1
***********************************
Shape of the  array is: (5,)
***********************************
size of the array is: 5

Creating 2-dimention of array

In [41]:
ar_2d=np.array([[1,2,3,4,5],[6,7,8,9,10]])
print('2-D Array is:',ar_2d)
print('*'*35)
print('Data type of the 2-D array is:',ar_2d.dtype)
print('*'*35)
print('Shape of the 2-D array is:',ar_2d.shape)
print('*'*35)
#size-no of element in the array
print('Size of the 2-D array is:',ar_2d.size)
print('*'*35)
#itemsize-byte size of element in  the array
print('Byte size of the 2-D Array is:',ar_2d.itemsize)
print('*'*35)
print(len(ar_2d))

2-D Array is: [[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
***********************************
Data type of the 2-D array is: int32
***********************************
Shape of the 2-D array is: (2, 5)
***********************************
Size of the 2-D array is: 10
***********************************
Byte size of the 2-D Array is: 4
***********************************
2

In [43]:
#range in for loop
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

** arange- It is used to create array with evenly spaced values,similar to python built in range().But,It return a Numpy array. **

In [21]:
arange=np.arange(10)
print('arange of array is :',arange)
print('*'*35)
ar1=np.arange(2,20,2)
print('arang of array is:',ar1)
print('*'*35)
ar2=np.arange(1,5,0.5)
print('arange of the array is:',ar2)

arange of array is : [0 1 2 3 4 5 6 7 8 9]
***********************************
arang of array is: [ 2  4  6  8 10 12 14 16 18]
***********************************
arange of the array is: [1.  1.5 2.  2.5 3.  3.5 4.  4.5]

** To accessing the array element using index position **

In [40]:
a=np.arange(20)
print('arange of array is:',a)
print(a[0])
print(a[6])
print(a[17])
print(a[19])

arange of array is: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
0
6
17
19

** Repalcing array elements **

In [38]:
a[0]=30
a[4]=50
a[9]=100
print(a)

[ 30   1   2   3  50   5   6   7   8 100  10  11  12  13  14  15  16  17
  18  19]

** Statistics **

In [49]:
ar1=np.arange(10)
ar2=np.arange(10,20)
print('array of arange ar1 :',ar1)
print('*'*35)
print('array or arange ar2:',ar2)
print('*'*35)
print('mean of the array is:',np.mean(ar1))
print('*'*35)
print('median of the array is:',np.median(ar1))
print('*'*35)
print('standard deviation of array is :',np.std(ar1))
print('*'*35)
print('maximum value of the array is:',np.max(ar1))
print('*'*35)
print('minimum value of the array is:',np.min(ar1))
print('*'*35)
print('50th precential of array is:',np.percentile(ar1,50))
print('*'*35)
print('variance of the array is:',np.var(ar1))
print('*'*35)
print('calculate the correlatio coefficient between two arrays:',np.corrcoef(ar1,ar2))

array of arange ar1 : [0 1 2 3 4 5 6 7 8 9]
***********************************
array or arange ar2: [10 11 12 13 14 15 16 17 18 19]
***********************************
mean of the array is: 4.5
***********************************
median of the array is: 4.5
***********************************
standard deviation of array is : 2.8722813232690143
***********************************
maximum value of the array is: 9
***********************************
minimum value of the array is: 0
***********************************
50th precential of array is: 4.5
***********************************
variance of the array is: 8.25
***********************************
calculate the correlatio coefficient between two arrays: [[1. 1.]
 [1. 1.]]

** append - This function is used to add values to end of the an array,creating a new array with the added values.**

In [66]:
print('array is :',ar1)
b=np.append(ar1,[12])
b

array is : [0 1 2 3 4 5 6 7 8 9]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 12])

In [68]:
c=np.append(ar1,[1,2,3])
c

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3])

In [76]:
print(ar1)
print(ar2)
D=np.append(ar1,ar2)
D

[0 1 2 3 4 5 6 7 8 9]
[10 11 12 13 14 15 16 17 18 19]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

** Arithmetic operation **

In [93]:
print('Array is :',ar1)
print("*"*35)
print('Addition of the array is:',ar1+3)
print("*"*35)
print('Multiplication of the array is:',ar1*2)
print("*"*35)
print('devition of the array is:',ar1/2)
print("*"*35)
print('Modulation of the array is:',ar1%2)

Array is : [0 1 2 3 4 5 6 7 8 9]
***********************************
Addition of the array is: [ 3  4  5  6  7  8  9 10 11 12]
***********************************
Multiplication of the array is: [ 0  2  4  6  8 10 12 14 16 18]
***********************************
devition of the array is: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5]
***********************************
Modulation of the array is: [0 1 0 1 0 1 0 1 0 1]

** Create string element using numpy **

In [99]:
arr=np.array(['a','b','c','d'])
print('String array is:',arr)
print('*'*35)
print('data type of sting array is:',arr.dtype)

String array is: ['a' 'b' 'c' 'd']
***********************************
data type of sting array is: <U1

** Convert one data type to another data type **

In [110]:
print('Array is :',ar1)
print('*'*35)
print('data type of Array ar1 :',ar1.dtype)
print('*'*35)
print('Convert int into float :',np.array(ar1,dtype='float'))
print('*'*35)
print('convert int into complex :',np.array(ar1,dtype='complex'))

Array is : [0 1 2 3 4 5 6 7 8 9]
***********************************
data type of Array ar1 : int32
***********************************
Convert int into float : [0. 1. 2. 3. 4. 5. 6. 7. 8. 9.]
***********************************
convert int into complex : [0.+0.j 1.+0.j 2.+0.j 3.+0.j 4.+0.j 5.+0.j 6.+0.j 7.+0.j 8.+0.j 9.+0.j]

** Slicing **

In [156]:
print('Array is :',ar1)
print(ar1[:])
print(ar1[:3])
print(ar1[:-1])
print(ar1[::-1])#reverse
print(ar1[:])
print(ar1[0:9:2])
print(ar1[0:9:3])
print(ar1[0:5])
print(ar1[5::-1])

Array is : [0 1 2 3 4 5 6 7 8 9]
[0 1 2 3 4 5 6 7 8 9]
[0 1 2]
[0 1 2 3 4 5 6 7 8]
[9 8 7 6 5 4 3 2 1 0]
[0 1 2 3 4 5 6 7 8 9]
[0 2 4 6 8]
[0 3 6]
[0 1 2 3 4]
[5 4 3 2 1 0]

In [152]:
a=np.arange(1,20,2)
print('Array is :',a)
print(a[5:])
print(a[::-1])
print(a[1:5])

Array is : [ 1  3  5  7  9 11 13 15 17 19]
[11 13 15 17 19]
[19 17 15 13 11  9  7  5  3  1]
[3 5 7 9]

** how to sort elements in array **

In [175]:
a=np.array([7,9,2,5,10,2,17,11])
print('Array is :',a)
print("*"*35)
sort=np.sort(a)
print('Sort in Ascenting order:',sort)
print("*"*35)
print('Sort in Descenting order:',sort[::-1])

Array is : [ 7  9  2  5 10  2 17 11]
***********************************
Sort in Ascenting order: [ 2  2  5  7  9 10 11 17]
***********************************
Sort in Descenting order: [17 11 10  9  7  5  2  2]

## Copy - "Deep Copying"

This method makes a complete copy of an existing array and its elements

When the newly created array is modified,It will not affect the exisiting array or vice versa.

In [192]:
a=np.arange(1,10)
b=a.copy()
print('Original Array is :',a)
print('*'*35)
b[0]=12
b[2]=15
print('Original Array is :',a)
print('*'*35)
print('Modified Array is :',b)

Original Array is : [1 2 3 4 5 6 7 8 9]
***********************************
Original Array is : [1 2 3 4 5 6 7 8 9]
***********************************
Modified Array is : [12  2 15  4  5  6  7  8  9]

## view()-'Shallow Copy'

This method makes a complete copy of an existing array and it's elements.

When the newly created array is modified,It will affect the exisiting array or vice versa.

In [194]:
a=np.arange(0,10)
print('Original Array is :',a)
print('*'*35)
b=a.view()
b[0]=100
print('Original Array is:',a)
print('*'*35)
print('Modified Array is:',b)

Original Array is : [0 1 2 3 4 5 6 7 8 9]
***********************************
Original Array is: [100   1   2   3   4   5   6   7   8   9]
***********************************
Modified Array is: [100   1   2   3   4   5   6   7   8   9]

## Reshape

This method is useful to change the shape of an array.The new array should have the same no.of elements as in the original array.

In [207]:
a=np.arange(12)
print('Original Array is:',a)
print('*'*35)
print('Modified Array is:',a.reshape(3,4))
print('*'*35)
print('Modified Array is:',a.reshape(6,2))

Original Array is: [ 0  1  2  3  4  5  6  7  8  9 10 11]
***********************************
Modified Array is: [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
***********************************
Modified Array is: [[ 0  1]
 [ 2  3]
 [ 4  5]
 [ 6  7]
 [ 8  9]
 [10 11]]

In [213]:
arr=np.arange(16).reshape(4,4)
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

flatten-Return the copy of the array collapsed into one dimension.

In [216]:
arr.flatten()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

resize-This method is used to create a new array of different size and dimentions.

In [242]:
a=np.array([[1,2],[3,4]])
print('Original Array is:',a)
print('*'*35)
a.resize((2,3))
print('Modified Array',a)

Original Array is: [[1 2]
 [3 4]]
***********************************
Modified Array [[1 2 3]
 [4 0 0]]

In [246]:
a=np.arange(12)
print('Original Array is',a)
print('*'*35)
a.resize((5,5))
print('Modified Array is:',a)

Original Array is [ 0  1  2  3  4  5  6  7  8  9 10 11]
***********************************
Modified Array is: [[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11  0  0  0]
 [ 0  0  0  0  0]
 [ 0  0  0  0  0]]

** How to delete the array element **

In [261]:
a=np.arange(12)
print('Original Array is:',a)
print('*'*35)
b=np.delete(a,0)
print('modified Array is:',b) 
print('*'*35)
c=np.delete(a,a[6:])
print('Modified Array is',c)

Original Array is: [ 0  1  2  3  4  5  6  7  8  9 10 11]
***********************************
modified Array is: [ 1  2  3  4  5  6  7  8  9 10 11]
***********************************
Modified Array is [0 1 2 3 4 5]

**How to slicing in multi-dimention array **

In [264]:
arr=np.arange(16).reshape(4,4)
print('Original Array is',arr)

Original Array is [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

In [270]:
print(arr[2,2])

10

In [272]:
print(arr[1:,1:])# (row[Start Value:End Value],column[Start Value:End Value])

[[ 5  6  7]
 [ 9 10 11]
 [13 14 15]]

In [274]:
print(arr[2:,2:])

[[10 11]
 [14 15]]

In [276]:
print(arr[2:,:2])

[[ 8  9]
 [12 13]]

In [278]:
print(arr[2:,1:3])

[[ 9 10]
 [13 14]]

** selection from an array using logical conditions **

In [289]:
print('Original Array is:',arr)
print('*'*35)
print(arr[arr>5])

Original Array is: [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
***********************************
[ 6  7  8  9 10 11 12 13 14 15]

In [291]:
print(arr[arr<10])

[0 1 2 3 4 5 6 7 8 9]

## How random number will be generated

random number are generated through a pseudo random algorithm

In [307]:
from numpy import random
#randint- It will generate  random int number between 0 to 100
x=random.randint(100)
print(x)

91

In [321]:
a=random.randint(100,size=(5,5))
print(a)

[[13 89 62 62 95]
 [13 56 19 51  2]
 [36  0 41 38 51]
 [42 58  3 71  6]
 [79 64 86 73 96]]

In [323]:
# sort by rows
a.sort()
print(a)

[[13 62 62 89 95]
 [ 2 13 19 51 56]
 [ 0 36 38 41 51]
 [ 3  6 42 58 71]
 [64 73 79 86 96]]

In [337]:
# sort by column
a.sort(axis=1)
print(a)

[[13 62 62 89 95]
 [ 2 13 19 51 56]
 [ 0 36 38 41 51]
 [ 3  6 42 58 71]
 [64 73 79 86 96]]

In [329]:
#rand-this method return a random float value between 0 and 1
y=random.rand(5,5)
print(y)

[[0.24333535 0.74792429 0.61639804 0.97413497 0.16813793]
 [0.32968789 0.16192677 0.82708422 0.09789077 0.94868056]
 [0.97494789 0.57838577 0.05592617 0.64780595 0.15760759]
 [0.21133053 0.00921587 0.92317698 0.94918322 0.13909405]
 [0.21812762 0.99382168 0.11821656 0.30896375 0.18145081]]

In [331]:
#sort by row
y.sort()
print(y)

[[0.16813793 0.24333535 0.61639804 0.74792429 0.97413497]
 [0.09789077 0.16192677 0.32968789 0.82708422 0.94868056]
 [0.05592617 0.15760759 0.57838577 0.64780595 0.97494789]
 [0.00921587 0.13909405 0.21133053 0.92317698 0.94918322]
 [0.11821656 0.18145081 0.21812762 0.30896375 0.99382168]]

In [335]:
#sort by column
y.sort(axis=1)
print(y)

[[0.16813793 0.24333535 0.61639804 0.74792429 0.97413497]
 [0.09789077 0.16192677 0.32968789 0.82708422 0.94868056]
 [0.05592617 0.15760759 0.57838577 0.64780595 0.97494789]
 [0.00921587 0.13909405 0.21133053 0.92317698 0.94918322]
 [0.11821656 0.18145081 0.21812762 0.30896375 0.99382168]]

In [319]:
#randn-This method generate random floating point positive and negative value 
z=np.random.randn(5,5)
z

array([[ 1.27308732,  1.03991992,  0.54592401, -1.3227452 ,  0.03171056],
       [-0.1254923 ,  0.29259731,  0.2223051 , -1.1297779 ,  0.00416488],
       [-0.78380596, -1.85840869, -0.20423542, -0.60802097, -1.58525281],
       [-0.42091871,  0.25050483,  1.00550538,  0.46842138,  0.06838629],
       [ 0.48072738,  0.84597043, -1.48531315,  0.129126  ,  2.18711036]])

In [339]:
#sort by row
z.sort()
print(z)

[[-1.3227452   0.03171056  0.54592401  1.03991992  1.27308732]
 [-1.1297779  -0.1254923   0.00416488  0.2223051   0.29259731]
 [-1.85840869 -1.58525281 -0.78380596 -0.60802097 -0.20423542]
 [-0.42091871  0.06838629  0.25050483  0.46842138  1.00550538]
 [-1.48531315  0.129126    0.48072738  0.84597043  2.18711036]]

In [347]:
# Sort by column
z.sort(axis=1)
print(z)

[[-1.3227452   0.03171056  0.54592401  1.03991992  1.27308732]
 [-1.1297779  -0.1254923   0.00416488  0.2223051   0.29259731]
 [-1.85840869 -1.58525281 -0.78380596 -0.60802097 -0.20423542]
 [-0.42091871  0.06838629  0.25050483  0.46842138  1.00550538]
 [-1.48531315  0.129126    0.48072738  0.84597043  2.18711036]]

In [359]:
random.seed(1)# It will generate same random number will be generated every time you run the code.
a=random.randint(100,size=(2,3))
a

array([[37, 12, 72],
       [ 9, 75,  5]])

** method taken an array as a parameter and randomly return one of the values**

In [362]:
a=np.random.choice([1,2,3,4])
a

4

In [370]:
a=np.random.choice([1,2,3,4,],size=(4,4))
a

array([[2, 2, 4, 4],
       [2, 3, 2, 2],
       [1, 1, 2, 1],
       [1, 2, 4, 4]])

** Creating Arrays Using Zeros and  Ones Functions **

In [379]:
arr=np.zeros(5,dtype='int')
arr

array([0, 0, 0, 0, 0])

In [383]:
ar1=np.zeros((3,4),dtype='int')
ar1

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [385]:
ar2=np.ones(5)
ar2

array([1., 1., 1., 1., 1.])

In [387]:
ar2=np.ones((4,4),dtype='int')
ar2

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

** eye-It is used to create 2-D array with once on the diagonal and zeros eleswhere **
 
Identity matrix

In [393]:
iden=np.eye(2)
print(iden)

[[1. 0.]
 [0. 1.]]

In [395]:
iden=np.eye(5)
iden

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [405]:
np.fill_diagonal(iden,5)
print(iden)

[[5. 0. 0. 0. 0.]
 [0. 5. 0. 0. 0.]
 [0. 0. 5. 0. 0.]
 [0. 0. 0. 5. 0.]
 [0. 0. 0. 0. 5.]]

** logical_and(), logical_or(), logical_not() **

In [418]:
ar=np.array([1,2,3,4])
ar1=np.array([3,4,5,6])
a=np.logical_and(ar>0,ar1>1)
print('Logical_and():',a)

Logical_and(): [ True  True  True  True]

In [420]:
b=np.logical_or(ar<0,ar>0)
print('Logical_or()',b)

Logical_or() [ True  True  True  True]

In [426]:
c=np.logical_not(b)
print('logical_not :',c)

logical_not : [False False False False]

** Transpose of a matrix (Array) **

In [437]:
a=np.array([[1,2,3],[4,5,6],[7,8,9]])
print('Original Array is:',a)
print('*'*35)
print('Transpose of a Array is:')
print(a.transpose())

Original Array is: [[1 2 3]
 [4 5 6]
 [7 8 9]]
***********************************
Transpose of a Array is:
[[1 4 7]
 [2 5 8]
 [3 6 9]]

In [441]:
arr=np.arange(12).reshape(4,3)
print('Original Array is:',arr)
print('*'*35)
print("Transpose of a Array is:")
print(arr.T)

Original Array is: [[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]
***********************************
Transpose of a Array is:
[[ 0  3  6  9]
 [ 1  4  7 10]
 [ 2  5  8 11]]

full-full function is used create a numpy array filled specified constant value.

In [444]:
a=np.full(5,4)
print(a)

[4 4 4 4 4]

In [446]:
b=np.full((3,3),50)
print(b)

[[50 50 50]
 [50 50 50]
 [50 50 50]]

** linspace - It is allow you to customize the range to fit your specific needs. **

** linspace - start and stop two parameters are required. **

In [452]:
lin=np.linspace(1,10)
print(lin)
print(lin.dtype)
print(lin.shape)
print(lin.size)

[ 1.          1.18367347  1.36734694  1.55102041  1.73469388  1.91836735
  2.10204082  2.28571429  2.46938776  2.65306122  2.83673469  3.02040816
  3.20408163  3.3877551   3.57142857  3.75510204  3.93877551  4.12244898
  4.30612245  4.48979592  4.67346939  4.85714286  5.04081633  5.2244898
  5.40816327  5.59183673  5.7755102   5.95918367  6.14285714  6.32653061
  6.51020408  6.69387755  6.87755102  7.06122449  7.24489796  7.42857143
  7.6122449   7.79591837  7.97959184  8.16326531  8.34693878  8.53061224
  8.71428571  8.89795918  9.08163265  9.26530612  9.44897959  9.63265306
  9.81632653 10.        ]
float64
(50,)
50

In [458]:
lin=np.linspace(1,10,100)
print(lin)

[ 1.          1.09090909  1.18181818  1.27272727  1.36363636  1.45454545
  1.54545455  1.63636364  1.72727273  1.81818182  1.90909091  2.
  2.09090909  2.18181818  2.27272727  2.36363636  2.45454545  2.54545455
  2.63636364  2.72727273  2.81818182  2.90909091  3.          3.09090909
  3.18181818  3.27272727  3.36363636  3.45454545  3.54545455  3.63636364
  3.72727273  3.81818182  3.90909091  4.          4.09090909  4.18181818
  4.27272727  4.36363636  4.45454545  4.54545455  4.63636364  4.72727273
  4.81818182  4.90909091  5.          5.09090909  5.18181818  5.27272727
  5.36363636  5.45454545  5.54545455  5.63636364  5.72727273  5.81818182
  5.90909091  6.          6.09090909  6.18181818  6.27272727  6.36363636
  6.45454545  6.54545455  6.63636364  6.72727273  6.81818182  6.90909091
  7.          7.09090909  7.18181818  7.27272727  7.36363636  7.45454545
  7.54545455  7.63636364  7.72727273  7.81818182  7.90909091  8.
  8.09090909  8.18181818  8.27272727  8.36363636  8.45454545  8.54545455
  8.63636364  8.72727273  8.81818182  8.90909091  9.          9.09090909
  9.18181818  9.27272727  9.36363636  9.45454545  9.54545455  9.63636364
  9.72727273  9.81818182  9.90909091 10.        ]

logspace - logspace is similar to linspace. The linspace function produces the evenly spaced points.

logspace produces evenly spaced points on a logarthmically spaced scale.

In [462]:
a=np.logspace(1,2,10)
a

array([ 10.        ,  12.91549665,  16.68100537,  21.5443469 ,
        27.82559402,  35.93813664,  46.41588834,  59.94842503,
        77.42636827, 100.        ])

** Trigonometric Functions **

In [465]:
np.pi

3.141592653589793

In [467]:
np.pi/2

1.5707963267948966

In [469]:
a=np.sin(np.pi/2)
a

1.0

In [473]:
a=np.sin(0)
a

0.0

In [475]:
b=np.cos(np.pi/4)
b

0.7071067811865476